In [1]:
# 데이터를 입력 받고 출력하기 : input()

In [2]:
#ex
menu = input()
menu

 짜장면

'짜장면'

In [3]:
print(menu)

짜장면

In [4]:
#안내 멘트와 함께 정보 입력 창 만들기
menu2 = input('오늘 점심으로 뭘 먹을까요?')
menu2

오늘 점심으로 뭘 먹을까요? 짬뽕

'짬뽕'

In [5]:
#특정 문장 중간에 변수 값 함께 출력하기_1
print('오늘의 점심 메뉴는 ',menu2,' 입니다.')

오늘의 점심 메뉴는  짬뽕  입니다.

In [8]:
'''
특정 문장 중간에 변수 값 함께 출력하기_2 
%d : 정수 출력하기
%f : 실수 출력하기
%s : 문자열-숫자포함 출력하기
%c : 문자 출력하기
'''

'\n특정 문장 중간에 변수 값 함께 출력하기_2 \n%d : 정수 출력하기\n%f : 실수 출력하기\n%s : 문자열-숫자포함 출력하기\n%c : 문자 출력하기\n'

In [9]:
#ex
print('오늘의 점심메뉴는 %s 입니다' %menu2)

오늘의 점심메뉴는 짬뽕 입니다

In [11]:
#특정 문장 중간에 변수 값 출력하기_3 :f-string기법
print(f'오늘의 점심메뉴는 {menu2} 입니다')

오늘의 점심메뉴는 짬뽕 입니다

In [12]:
#ex. 사용자의 이름과 취미 입력받아 출력하기
'''
1. 이름을 입력하세요 : 강수아
2. 취미를 입력하세요 : 음악 감상
'''

'\n1. 이름을 입력하세요 : 강수아\n2. 취미를 입력하세요 : 음악 감상\n'

In [13]:
name = input('1. 이름을 입력하세요:')
hobby = input('2. 취미를 입력하세요 :')

1. 이름을 입력하세요: 강수아
2. 취미를 입력하세요 : 음악감상

In [14]:
#숫자형 데이터 : 주의해야하는 경우 _ input으로 받는 자료는 모두 문자로 저장된다
no1 = input('첫번째 정수 입력:')
no2 = input('두번째 정수 입력:')
print('%s+%s=%s'%(no1,no2,no1+no2))

첫번째 정수 입력: 3
두번째 정수 입력: 4

3+4=34

In [16]:
#int형의 자료를 받고 싶은 경우
no3 = int(input('첫번째 정수 입력:'))
no4 = int(input('두번째 정수 입력:'))
print('%s+%s=%s'%(no3,no4,no3+no4))

첫번째 정수 입력: 3
두번째 정수 입력: 4

3+4=7

In [18]:
#참고로 입력받을 숫자가 정수인지, 실수 인지 모른는 경우 실수형으로 받아야 한다
no5 = float(input('첫번째 숫자 입력:'))
no6 = float(input('두번째 숫자 입력:'))
print('%s+%s=%s' %(no5, no6, no5+no6))

첫번째 숫자 입력: 3
두번째 숫자 입력: 4

3.0+4.0=7.0

In [21]:
#숫자 타입에서 많이 사용되는 함수 : round(), trunc(), ceil(), floor()
#round() : 반올림 함수
no7 = 3.3456
print('원래 값:%s, 반올림 후 값:%s' %(no7, round(no7)))

원래 값:3.3456, 반올림 후 값:3

In [22]:
#기본적으로 정수자리 까지 출력, 소수점 이하 자리 수 지정 가능
print('원래 값 : %s, 정수 자리까지 표시:%s, 소수 1의 자리까지 표시:%s'%(no7,round(no7), round(no7,1)))

원래 값 : 3.3456, 정수 자리까지 표시:3, 소수 1의 자리까지 표시:3.3

In [29]:
#trunc(): 무조건 정수자리 밑 버림 : math,numpy 모듈에 포함되어있는 함수
import math #math모듈 import
print('원래 값: %s, 버림 값: %s' %(no7,math.trunc(no7)))

원래 값: 3.3456, 버림 값: 3

In [30]:
#ceil(): 주어진 수와 가장 가까운 큰 정수 찾기
print('3보다 큰 가까운 정수 찾기:%s' %math.ceil(3))
print('3.5보다 큰 가까운 정수 찾기 :%s' %math.ceil(3.5))

3보다 큰 가까운 정수 찾기:3
3.5보다 큰 가까운 정수 찾기 :4

In [32]:
#floor() : 주어진 수와 가장 가까운 작은 정수 찾기
print('3보다 작은 가까운 정수 찾기:%s' %math.floor(3))
print('3.5보다 작은 가까운 정수 찾기:%s' %math.floor(3.5))

3보다 작은 가까운 정수 찾기:3
3.5보다 작은 가까운 정수 찾기:3

In [37]:
#문자열 : 특정 위치 글자 조회하기
txt='파이썬완전쉽죠?'
print(txt,txt[0])
#특정 범위 출력
print(txt[0:3])
#처음부터 n번째 인덱스까지
print(txt[ :3])
#n번째부터 마지막까지
print(txt[3:])

파이썬완전쉽죠? 파
파이썬
파이썬
완전쉽죠?

In [38]:
#문자열 함수 : lower(), upper(), lstrip(),rstrip(),strip(),replace(),split(),join(),len()
#lower()/upper():소문자/대문자로 변환하기
txt1 = 'PythoN'
print(txt1.upper())
print(txt1.lower())

PYTHON
python

In [41]:
#lstrip(),rstrip(),strip() : 문자열 좌/우 공백 제거하기
txt2 = '       오른쪽/왼쪽 공백 제거하기        '
print('1.원래문장 :',txt2,':')
print('2.왼쪽 공백제거:',txt2.lstrip(),':')
print('3. 오른쪽 공백 제거 :',txt2.rstrip(),':')
print('4.양쪽 공백 제거:',txt2.strip(),':')

1.원래문장 :        오른쪽/왼쪽 공백 제거하기         :
2.왼쪽 공백제거: 오른쪽/왼쪽 공백 제거하기         :
3. 오른쪽 공백 제거 :        오른쪽/왼쪽 공백 제거하기 :
4.양쪽 공백 제거: 오른쪽/왼쪽 공백 제거하기 :

In [45]:
#replace() : 문자열에서 내용 바꾸기
print('원래 단어:',txt1)
print(txt1.replace('PythoN','JaVa'))
print('원래 문장:',txt2)
print(txt2.replace('공백',''))

원래 단어: PythoN
JaVa
원래 문장:        오른쪽/왼쪽 공백 제거하기
       오른쪽/왼쪽  제거하기

In [51]:
#split():특정 기호를 기준으로 나누기
url ='https://blog.naver.com/ssunag0105'
print(url.split('/'))
print(url.split('/')[2])
print(url.split('.'))
print(url.split('.')[1])

['https:', '', 'blog.naver.com', 'ssunag0105']
blog.naver.com
['https://blog', 'naver', 'com/ssunag0105']
naver

In [3]:
#join() 문자끼리 연결하기
tel = '-'.join(['010','1234','5678'])
tel

'010-1234-5678'

In [5]:
#리스트 관련 함수 : append(),insert(),del(),remove(),sort(),reverse()
#append() : 리스트에 제일 마지막에 추가, insert():n번째 인덱스에 추가
fruit = ['사과','딸기','바나나']
fruit.append('추가')
fruit
fruit.insert(2,'추가')
fruit

['사과', '딸기', '추가', '바나나', '추가']

In [1]:
#딕셔너리 {key1:Value1},{key2:value2}
#1:1
student = {'회장':'강수아','부회장':'이도균','선도부장':'가나다'}
student

{'회장': '강수아', '부회장': '이도균', '선도부장': '가나다'}

In [12]:
#1:n
stu = {'1반':['강수아','이도균','가나다']}
print(stu)
print(stu['1반'])

{'1반': ['강수아', '이도균', '가나다']}
['강수아', '이도균', '가나다']

In [18]:
print(stu)
del stu['1반']
print(stu)

{'1반': ['강수아', '이도균', '가나다']}
{}

In [21]:
print(student.keys())
print(student.values())

dict_keys(['회장', '부회장', '선도부장'])
dict_values(['강수아', '이도균', '가나다'])

In [26]:
#set : 집합 자료형
#한 개의 집합에는 원소가 중복될 수 없다
set1 = set([1,2,3,4,5,4,3,2,1])
print('set1: ',set1) #조회를 하려면 list로 변환한뒤 해야함
#set1[0] : X
set2 = list(set1)
print(set2[3])

set1:  {1, 2, 3, 4, 5}
4

In [30]:
#합집합 : union (union(),|)
family = set(['엄마','아빠','오빠','나'])
friend = set(['이도균','나'])
print(family|friend)
print(family.union(friend))

{'오빠', '나', '엄마', '아빠', '이도균'}
{'오빠', '나', '엄마', '아빠', '이도균'}

In [32]:
#차집합 : -, difference()
print(family-friend)
print(family.difference(friend))

{'엄마', '오빠', '아빠'}
{'엄마', '오빠', '아빠'}

In [34]:
#교집합 : &, intersection()
print(family & friend)
print(family.intersection(friend))

{'나'}
{'나'}

In [38]:
#예제
pre = ['홍길동','일지매']
print('현재 이 과목의 수강 신청자는 ',pre,'입니다')
stu1 = input('목록에 추가할 첫번째 학생의 이름을 입력하세요:')
print(stu1,' 학생의 신청이 완료되었습니다.')
stu2 = input('목록에 추가할 두번째 학생의 이름을 입력하세요:')
print(stu2,' 학생의 신청이 완료되었습니다.')
pre.append(stu1)
pre.append(stu2)
print('현재의 이 과목의 최종 수강 신청자는',pre, '입니다.')

현재 이 과목의 수강 신청자는  ['홍길동', '일지매'] 입니다

목록에 추가할 첫번째 학생의 이름을 입력하세요: 전우치

전우치  학생의 신청이 완료되었습니다.

목록에 추가할 두번째 학생의 이름을 입력하세요: 유관순

유관순  학생의 신청이 완료되었습니다.
현재의 이 과목의 최종 수강 신청자는 ['홍길동', '일지매', '전우치', '유관순'] 입니다.

In [44]:
#예제
print('현재 수강 신청자는 %s 입니다' %pre)
del1 = input('수강 철회하는 학생의 이름을 쓰세요:')
print('%s 학생의 수강신청 철회가 완료되었습니다.' %del1)
pre.remove(del1)
print('현재 이 과목의 최종 수강 신청자는 %s 입니다' %pre)

현재 수강 신청자는 ['홍길동', '일지매', '전우치', '유관순'] 입니다

수강 철회하는 학생의 이름을 쓰세요: 전우치

전우치 학생의 수강신청 철회가 완료되었습니다.
현재 이 과목의 최종 수강 신청자는 ['홍길동', '일지매', '유관순'] 입니다

In [50]:
#조건문
#예제_사용자에게 숫자를 입력하고 조건에 따라 출력하기
no1 = int(input('숫자를 입력하세요:')) #input은 기본적으로 string으로 입력되기 때문에 int를 씌워준다
if no1 %3 == 0:
    print (no1**2) #int형이 아닐 경우 숫자 연산이 불가능하다
else:
    print(0)

숫자를 입력하세요: 3

9

In [51]:
#예제_사용자의 입력에 따른 출력값
fruit = input('사과, 감, 귤 중에 어떤 과일 좋아하세요?:')
if fruit == '사과':
    print('Good')
elif fruit == '감':
    print('Very good')
elif fruit =='귤' :
    print('So So')
else:
    print('올바른 입력 값이 아닙니다.')

사과, 감, 귤 중에 어떤 과일 좋아하세요?: 사자

올바른 입력 값이 아닙니다.

In [55]:
menu = {'1.짜장면' : '5000원', '2.짬뽕': '6000원', '3.군만두' :'8000원', '4.탕수육':'10000원'}
select = int(input('위 메뉴 중 주문할 메뉴의 번호를 쓰세요:'))
num = int(input('위 메뉴의 주문 수량을 쓰세요 :'))
if select == 1 :
    name = '짜장면'
    price = 5000 * num
elif select == 2 :
    name  = '짬뽕'
    price = 6000*num
elif select == 3 :
    name = '군만두'
    price =8000* num
elif select == 4:
    name = '탕수육'
    price = 10000*num
else:
    print('올바른 입력값을 입력하세요')
print('주문하신 메뉴는 %s이고, 주문수량은 %i 그릇이며 주문금액은 %s 입니다.' %(name,num,price))

위 메뉴 중 주문할 메뉴의 번호를 쓰세요: 2
위 메뉴의 주문 수량을 쓰세요 : 3

주문하신 메뉴는 짬뽕이고, 주문수량은 3 그릇이며 주문금액은 18000 입니다.

In [56]:
#반복문 : 반복할 횟수를 지정할 때 사용하는 방법
#for ~ in(숫자, 리스트,문자열, range()

In [58]:
#구구단_1단
num = int(input('출력을 원하시는 단을 입력하세요:'))
for n in (range(1,10)):
    print('%s X %s = %s' %(num,n,num*n))

출력을 원하시는 단을 입력하세요: 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [74]:
num = int(input('숫자를 입력하세요:'))
짝수=[]
홀수=[]
for no1 in (range(1,num+1)):
    if(no1%2 == 0):
        짝수.append(no1)
    else:
        홀수.append(no1)
print(짝수)
print(홀수)

숫자를 입력하세요: 10

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [93]:
#예제_조건에 맞는 글자만 출력하기
fruits = ['사과','감','포도','배','복숭아']
fruits2 = []
size = len(fruits)
for idx in range(0,size):
    if len(fruits[idx]) >= 2:
        fruits2.append(fruits[idx])
    else:
        continue
print(fruits2)

['사과', '포도', '복숭아']

In [99]:
#예제
page_no =[1,2,3]
text_no = [1,2,3,4,5]

for page in page_no:
    print(" ")
    for text in text_no:
        print('%s 페이지의 %s 번 글입니다.' %(page,text))

1 페이지의 1 번 글입니다.
1 페이지의 2 번 글입니다.
1 페이지의 3 번 글입니다.
1 페이지의 4 번 글입니다.
1 페이지의 5 번 글입니다.

2 페이지의 1 번 글입니다.
2 페이지의 2 번 글입니다.
2 페이지의 3 번 글입니다.
2 페이지의 4 번 글입니다.
2 페이지의 5 번 글입니다.

3 페이지의 1 번 글입니다.
3 페이지의 2 번 글입니다.
3 페이지의 3 번 글입니다.
3 페이지의 4 번 글입니다.
3 페이지의 5 번 글입니다.

In [105]:
#예제
class_name = ['1반', '2반', '3반']
name1 = ['홍길동', '강수아', '이도균']
name2 = ['김진경', '고도연', '강똘이']
name3 = ['삼색이', '도라에몽', '코너']

for _class in class_name:
    print('=============')
    if _class == name1:
        for name in name1:
            print(_class," : ",name)
    elif _class==name2:
        for name in name2:
            print(_class," : ",name)
    else:
        for name in name3:
            print(_class," : ",name)

=============
1반  :  삼색이
1반  :  도라에몽
1반  :  코너
=============
2반  :  삼색이
2반  :  도라에몽
2반  :  코너
=============
3반  :  삼색이
3반  :  도라에몽
3반  :  코너

In [123]:
#구구단 출력
for num in range(1,10):
    for abb in range(2,10):
        print('%s X %s = %s' %(abb, num, num*abb),end='\t')
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [131]:
#예제_email 변수에 있는 값에서 도메인 주소만 출력하기
email = ['abc@naver.com', 'def@daum.net', 'ghi@gamil.com']
txt=[]
for domain in email:
    txt.append(domain.split('@')[1].split('.')[0])
print (txt)
for str in txt:
    print(str[0].upper()+str[1:])
    print(str.capitalize()) #단어의 첫글자만 대문자로 만드는 것은 capitalize()를 쓸 수 있다.

['naver', 'daum', 'gamil']
Naver
Naver
Daum
Daum
Gamil
Gamil